In [1]:
import numpy as np
import pandas as pd

In [2]:
phoneData = {
    "Case": [1, 2, 3, 4],
    "Budget $": [400, 300, 500, 450],
    "Screen Size (inch)": [6.1, 5.5, 6.5, 6.0],
    "Battery Capacity (mAh)": [4000, 3500, 4500, 4000],
    "Preferred Brand": ["Samsung", "Xiaomi", "OnePlus", "Samsung"],
    "Recommended Phone": [
        "Samsung Galaxy A32",
        "Xiaomi Redmi 9",
        "OnePlus Nord N10",
        "Samsung Galaxy A52"
    ]
}
phoneData = pd.DataFrame(phoneData)

In [4]:
phoneData

,Case,Budget $,Screen Size (inch),Battery Capacity (mAh),Preferred Brand,Recommended Phone
0,1,400,6.1,4000,Samsung,Samsung Galaxy A32
1,2,300,5.5,3500,Xiaomi,Xiaomi Redmi 9
2,3,500,6.5,4500,OnePlus,OnePlus Nord N10
3,4,450,6.0,4000,Samsung,Samsung Galaxy A52

In [ ]:
# Fungsi menghitung similarity score pada case based
def hitung_similarity_score(input_data: pd.DataFrame, phoneData: pd.DataFrame) -> dict:
    scores = {}
    for row in range(len(phoneData)):
        score = 0
        
        # Budget similarity
        if abs(input_data.iloc[0]["Budget $"] - phoneData.iloc[row]["Budget $"]) <= 50:
            score += 1
        
        # Screen Size similarity
        if abs(input_data.iloc[0]["Screen Size (inch)"] - phoneData.iloc[row]["Screen Size (inch)"]) <= 0.5:
            score += 1
        
        # Battery Capacity similarity
        if abs(input_data.iloc[0]["Battery Capacity (mAh)"] - phoneData.iloc[row]["Battery Capacity (mAh)"]) <= 500:
            score += 1
        
        # Preferred Brand similarity
        if input_data.iloc[0]["Preferred Brand"] == phoneData.iloc[row]["Preferred Brand"]:
            score += 1
        
        productName = phoneData.iloc[row]["Recommended Phone"]
        scores[productName] = score  
    
    return scores

In [7]:
pengguna = {
    "Case": [1],
    "Budget $": [450],
    "Screen Size (inch)": [6.0],
    "Battery Capacity (mAh)": [4000],
    "Preferred Brand": ["Samsung"],
}
user_input = pd.DataFrame(pengguna)

In [8]:
user_input

   Case  Budget $  Screen Size (inch)  Battery Capacity (mAh) Preferred Brand
0     1       450                 6.0                    4000         Samsung

In [10]:
def find_best_similarity(RecommendationDict : dict) ->dict :
    best_value = max(RecommendationDict.values())

    best_list = {}

    for item in RecommendationDict:
        if(RecommendationDict[item] == best_value):
            best_list[item] = RecommendationDict[item]
    
    return best_list

In [18]:
find_best_similarity(hitung_similarity_score(user_input, phoneData))

{'Samsung Galaxy A32': 4, 'Samsung Galaxy A52': 4}

In [12]:
laptopData = {
     "Model": [
        "Laptop A",
        "Laptop B",
        "Laptop C",
        "Laptop D",
        "Laptop E"
    ],
    "Budget $": [600,750,500,700,650],
    "Ram": [8,16,8,16,12],
    "Storage": [256,512,128,256,512],
    "Processor": ["Intel i5", "Intel i7", "Intel i5", "Amd Ryzen 5","Intel i5"],
    "Battery Life": [10,8,12,9,7],
}
laptopData = pd.DataFrame(laptopData)

In [13]:
laptopData

      Model  Budget $  Ram  Storage    Processor  Battery Life
0  Laptop A       600    8      256     Intel i5            10
1  Laptop B       750   16      512     Intel i7             8
2  Laptop C       500    8      128     Intel i5            12
3  Laptop D       700   16      256  Amd Ryzen 5             9
4  Laptop E       650   12      512     Intel i5             7

In [ ]:
# Fungsi menghitung similarity score pada constraint based
def hitung_similarity_score_contraint(laptopdata: pd.DataFrame) -> dict:
    scores = {}
    for row in range(len(laptopData)):
        score = 0
        
        # Budget similarity
        if abs(laptopData.iloc[row]["Budget $"]) <= 700:
            score += 1
        
        # Screen Size similarity
        if abs(laptopData.iloc[row]["Ram"]) >= 8:
            score += 1
        
        # Battery Capacity similarity
        if abs(laptopData.iloc[row]["Storage"]) >= 256:
            score += 1
        
        # Preferred Brand similarity
        if  laptopData.iloc[row]["Battery Life"] >= 8:
            score += 1
        
        productName = laptopData.iloc[row]["Model"]
        scores[productName] = score  
    
    return scores

In [22]:
find_best_similarity(hitung_similarity_score_contraint(laptopData))

{'Laptop A': 4, 'Laptop D': 4}